<content id="cont-basket">

        <!--<table class="table table-condensed" id="table-basket">
            <caption class="info">Ваш заказ</caption>
                <thead>
                    <tr>
                        <th>Фото</th>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Жанр</th>
                        <th>Год издания</th>
                        <th>Количество страниц</th>
                        <th>Ограничение по возрасту</th>
                        <th>Цена</th>
                        <th>Удалить</th>
                    </tr>
                </thead>
                <tbody></tbody>

</table>-->

</content>
